<div id="<%= dom_id profile %>" class="big-card">
  <span>
    <strong>Name:</strong>
    <%= profile.name %>
  </span>

  <span>
    <strong>City:</strong>
    <%= profile.city %>
  </span>

  <span>
    <strong>Country:</strong>
    <%= profile.country %>
  </span>

  <span>
    <strong>Birthh:</strong>
    <%= profile.birthh %>
  </span>

  <span>
    <strong>Gender:</strong>
    <%= profile.gender %>
  </span>

  <span>
    <strong>Role:</strong>
    <%= profile.role %>
  </span>

  <span>
    <strong>User:</strong>
    <%= profile.user_id %>
  </span>

  <% if current_user == profile.user %>
    <div>
      <%= link_to "Edit this profile", edit_profile_path(profile), class: "btn-primary bg-green-800" %>
    </div>
  <% end %>

</div>
