<h1> Show Article: </h1>
<div>
    <h3><%= @article.name %></h3>
    <h3><%= @article.description %></h3>
    <div>
        <strong>Categories:</strong>
        <ul>
            <% @article.categories.each do |category| %>
                <li><%= category.name %></li>
            <% end %>
        </ul>
    <div>
        <%= image_tag @article.avatar, width: 300 if @article.avatar.attached? %>
    </div>
    <div>
        <%= @article.body %>
    </div>
    <div>
        <%= link_to "Edit", article_edit_path(@article) %>
        <%= button_to "Delete article", article_delete_path(@article), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %>
    </div>

    <hr>
    <div>
        <h4>Comments:</h4>
        <% @article.comments.each do |comment| %>
            <%= render 'comments/comment', comment: comment %>
        <% end %>
    </div>

    <div>
        <h5>Add comments:</h5>
        <%= render 'comments/form', { article: @article, comment: @comment } %>
    </div>
</div>